section.about-section {
    margin-top: 100px;
    margin-bottom: 80px;
}

header.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 27px;
    margin: 0 auto;
    width: 80%;
    border: 3px black solid;
    border-radius: 15px;
    background-color: aliceblue;
    color: #1a1a1a;
    font-size: 20px;
    margin-bottom: 80px;
}

@media (max-width: 500px){
    header.section-header {
        width: 700px;
        margin-left: 80px;
    }
}

section.main-about {
    margin-left: 180px;
}

@media (min-width: 2400px){
    section.main-about{
        margin-left: 600px;
    }
}

@media (max-width: 500px){
    section.main-about{
        min-width: 400px;
        margin-left: 250px;
    }
}

section.main-about > h2 {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 30px;
}

@media (max-width: 500px){
    section.main-about > h2{
        font-size: 40px;
    }
}

section.main-about > h3 {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 20px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 500px){
    section.main-about > h3{
        font-size: 30px;
    }
}

section.main-about > h3 > span {
    margin-bottom: 15px;
}