section.contact-section {
    margin-bottom: 80px;
}

section.contact-section > h1 {
    font-size: 50px;
    margin-left: 40px;
}

@media(max-width: 500px){
    section.contact-section > h1 {
        font-size: 50px;
        margin-left: 80px;
    }
}

@media(min-width: 1200px){
    section.contact-section > h1 {
        font-size: 50px;
        margin-left: 40px;
    }
}

@media(min-width: 2400px){
    section.contact-section > h1 {
        font-size: 50px;
        margin-left: 40px;
        margin-bottom: 150px;
    }
}

section.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

div.contact-method {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.gmail-logo {
    width: 60px;
    transition: 0.2s;
}

img.gmail-logo:hover {
    transform: scale(1.2);
}

img.linkedin-logo {
    width: 50px;
    transition: 0.2s;
}

img.linkedin-logo:hover {
    transform: scale(1.2);
}

img.github-logo {
    width: 60px;
    transition: 0.2s;
}

img.github-logo:hover {
    transform: scale(1.2);
}