section.education-section {
    margin-bottom: 80px;
}

@media(max-width: 500px){
    div.uni-container > h2 {
        font-size: 2.5rem;
        margin-bottom: 25px;
        margin-left: 200px;
        max-width: 150px;
    }
}

@media(min-width: 1200px){
    div.uni-container > h2 {
        font-size: 2.5rem;
        margin-bottom: 25px;
        margin-left: 200px;
    }
}

@media(min-width: 2400px){
    div.uni-container > h2 {
        font-size: 2.5rem;
        margin-bottom: 25px;
        margin-left: 600px;
    }
}

@media(max-width: 500px){
    div.major-container > h3 {
        margin-left: 200px;
        font-family: "Inter", Arial, Helvetica, sans-serif;
        color: transparent;
        -webkit-text-stroke: 1px rgb(234, 227, 227);
        text-shadow: 1px 1px 20px rgb(159, 153, 153);
        max-width: 150px;
    }
}

@media(min-width: 1200px){
    div.major-container > h3 {
        margin-left: 200px;
        font-family: "Inter", Arial, Helvetica, sans-serif;
        color: transparent;
        -webkit-text-stroke: 1px rgb(234, 227, 227);
        text-shadow: 1px 1px 20px rgb(159, 153, 153);  
    }
}

@media(min-width: 2400px){
    div.major-container > h3 {
        margin-left: 600px;
        font-family: "Inter", Arial, Helvetica, sans-serif;
        color: transparent;
        -webkit-text-stroke: 1px rgb(234, 227, 227);
        text-shadow: 1px 1px 20px rgb(159, 153, 153);  
    }
}