section.experience-section{
    margin-bottom: 80px;
}

@media(max-width: 1600px){
    div.internship-container > h2 {
        font-size: 2.5rem;
        margin-bottom: 25px;
        margin-left: 200px;
    }
}

@media(min-width: 2560px){
    div.internship-container > h2 {
        font-size: 2.5rem;
        margin-bottom: 25px;
        margin-left: 600px;
    }
}

@media(max-width: 1600px){
        div.position-container > h3 {
        margin-left: 200px;
        font-family: "Inter", Arial, Helvetica, sans-serif;
        color: transparent;
        -webkit-text-stroke: 1px rgb(234, 227, 227);
        text-shadow: 1px 1px 20px rgb(159, 153, 153);  
    }
}

@media(min-width: 2560px){
        div.position-container > h3 {
        margin-left: 600px;
        font-family: "Inter", Arial, Helvetica, sans-serif;
        color: transparent;
        -webkit-text-stroke: 1px rgb(234, 227, 227);
        text-shadow: 1px 1px 20px rgb(159, 153, 153);  
    }
}

@media(max-width: 500px){
    div.experience-summary {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2rem;
        margin-left: 600px;
    }
}

@media(max-width: 1600px){
    div.experience-summary {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2rem;
        max-width: 1000px;
        margin-left: 200px;
    }
}

@media(min-width: 2560px){
    div.experience-summary {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        font-size: 1.2rem;
        margin-left: 600px;
    }
}