section.intro-section {
    margin-top: 150px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 2400px){
    section.intro-section {
        margin-left: 600px;
    }
}

@media (max-width: 500px){
    section.intro-section {
        margin-left: 250px;
    }
}

.name-container {
    max-width: 100px;
}

.name-container > h1{
    font-size: 3.5rem;
    margin-bottom: 25px;
}

@media (min-width: 1200px){
    .info-container{
        max-width: 400px;
    }
}

@media (max-width: 500px){
    .info-container {
        min-width: 400px;
    }
}

@media (min-width: 2400px){
    .info-container{
        max-width: 400px;
    }
}

.info-container > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 1px rgb(234, 227, 227);
    text-shadow: 1px 1px 20px rgb(159, 153, 153);   
}