.projects-section {
    margin-bottom: 80px;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.projects-grid > a {
    text-decoration: none;
    color: aliceblue;
}

.project-container {
    border: white 3px solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.project-container:hover {
    transform: translateY(-20%);
    box-shadow: 0 0 10px #ffffff,
              0 0 20px #ffffff,
              0 0 40px #ffffff;
}

.project-container > h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.project-container > p {
    font-size: 1.1rem;
}

a.project-name{
    text-decoration: none;
    cursor: pointer;
}

a.project-name > h1 {
    margin-top: 2px;
    margin-bottom: 2px;
    color: aliceblue;
    font-size: 2rem;
}