section.skills-section {
    margin-bottom: 80px;
}

@media (max-width: 500px){
    section.main-skills {
        margin-left: 50px;
    }
}

@media (min-width: 1200px){
    section.main-skills {
        margin-left: 150px;
    }
}

@media (min-width: 2400px){
    section.main-skills {
        margin-left: 550px;
    }
}

ul > section.lang-list {
    font-size: 30px;
    margin-bottom: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

@media (max-width: 500px){
    ul > section.lang-list {
        font-size: 40px;
    }
}

img.lang-logo {
    width: 40px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

@media (max-width: 500px) {
    img.lang-logo {
        width: 50px;

    }
} 

img.lang-logo:hover {
    transform: scale(1.6);
}

div.lang-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    position: relative;
 }

div.lang-container > p {
    padding: 10px;
    border: 3px white solid;
    border-radius: 15px;
    background: transparent;
    position: absolute;
    opacity: 0;
    transition: 0.15s ease;
    bottom: 100%; /* Position above the parent */
    margin-bottom: 10px; /* Add some space between text and icon */
    white-space: nowrap; /* Prevent text from wrapping */
    transform: translateX(-50%);
    left: 50%;
}

div.lang-container:hover > p {
    opacity: 1;
}

ul > section.fram-list {
    font-size: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;
}

@media (max-width: 500px){
    ul > section.fram-list {
        font-size: 40px;
    }
}

ul > section.devtools-list {
    font-size: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

@media (max-width: 500px){
    ul > section.devtools-list {
        font-size: 40px;
    }
}

img.git-logo {
    width: 40px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

@media (max-width: 500px){
    img.git-logo {
        width: 60px;
    }
}

img.vscode-logo {
    width: 40px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

@media (max-width: 500px){
    img.vscode-logo {
        width: 60px;
    }
}

img.docker-logo {
    width: 40px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

@media (max-width: 500px){
    img.docker-logo {
        width: 60px;
    }
}

img.eclipse-logo {
    width: 40px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

@media (max-width: 500px){
    img.eclipse-logo {
        width: 60px;
    }
}

img.intellij-logo {
    width: 40px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

@media (max-width: 500px){
    img.intellij-logo {
        width: 60px;
    }
}

img.react-logo {
    width: 40px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

@media (max-width: 500px){
    img.react-logo {
        width: 60px;
    }
}

img.nodejs-logo {
    width: 80px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

@media (max-width: 500px){
    img.nodejs-logo {
        width: 100px;
    }
}

img.nodejs-logo:hover {
    transform: scale(1.3);
}

img.kaplay-logo {
    width: 60px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

@media (max-width: 500px){
    img.kaplay-logo {
        width: 80px;
    }
}

img.kaplay-logo:hover {
    transform: scale(1.3);
}