* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Bitcount", Arial, sans-serif;
    color: white;
    height: 100vh;
}

.animated-bg {
  height: 100vh;
  margin: 0;
  background: linear-gradient(-45deg, black, #1a1a1a, #333333, #444444);
  background-size: 700% 700%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-bg-white {
  height: 100vh;
  margin: 0;
  background: linear-gradient(-45deg, rgb(255, 255, 255), #dadada, #605f5f, #c4b7b7);
  background-size: 700% 700%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

::selection {
    background-color: aliceblue;
    color: rgb(35, 34, 34);
}

section.intro-section {
    margin-top: 150px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-container {
    max-width: 100px;
}

.name-container > h1{
    font-size: 3.5rem;
    margin-bottom: 25px;
}

.info-container {
    max-width: 400px;
}

.info-container > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 1px rgb(234, 227, 227);
    text-shadow: 1px 1px 20px rgb(159, 153, 153);   
}

section.about-section {
    margin-top: 100px;
    margin-bottom: 80px;
}

header.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 0 auto;
    width: 1000px;
    border: 3px black solid;
    border-radius: 15px;
    background-color: aliceblue;
    color: #1a1a1a;
    font-size: 20px;
    margin-bottom: 80px;
}

section.main-about {
    margin-left: 180px;
}

section.main-about > h2 {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 30px;
}

section.main-about > h3 {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 20px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

section.main-about > h3 > span {
    margin-bottom: 15px;
}

section.skills-section {
    margin-bottom: 80px;
}

section.main-skills {
    margin-left: 150px;
}

ul > section.lang-list {
    font-size: 30px;
    margin-bottom: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

img.lang-logo {
    width: 40px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

img.lang-logo:hover {
    transform: scale(1.6);
}

div.lang-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    position: relative;
 }

div.lang-container > p {
    padding: 10px;
    border: 3px white solid;
    border-radius: 15px;
    background: transparent;
    position: absolute;
    opacity: 0;
    transition: 0.15s ease;
    bottom: 100%; /* Position above the parent */
    margin-bottom: 10px; /* Add some space between text and icon */
    white-space: nowrap; /* Prevent text from wrapping */
    transform: translateX(-50%);
    left: 50%;
}

div.lang-container:hover > p {
    opacity: 1;
}

ul > section.fram-list {
    font-size: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

img.nodejs-logo {
    width: 80px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

img.nodejs-logo:hover {
    transform: scale(1.3);
}

img.kaplay-logo {
    width: 60px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

img.kaplay-logo:hover {
    transform: scale(1.3);
}

section.education-section {
    margin-bottom: 80px;
}

div.uni-container > h2 {
    font-size: 2.5rem;
    margin-bottom: 25px;
    margin-left: 200px;
}

div.major-container > h3 {
    margin-left: 200px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px rgb(234, 227, 227);
    text-shadow: 1px 1px 20px rgb(159, 153, 153);  
}

.projects-section {
    margin-bottom: 80px;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.projects-grid > a {
    text-decoration: none;
    color: aliceblue;
}

.project-container {
    border: white 3px solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.project-container:hover {
    transform: translateY(-20%);
    box-shadow: 0 0 10px #ffffff,
              0 0 20px #ffffff,
              0 0 40px #ffffff;
}

.project-container > h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.project-container > p {
    font-size: 1.1rem;
}

a.project-name{
    text-decoration: none;
    cursor: pointer;
}

a.project-name > h1 {
    margin-top: 2px;
    margin-bottom: 2px;
    color: aliceblue;
    font-size: 2rem;
}

section.contact-section {
    margin-bottom: 80px;
}

section.contact-section > h1 {
    font-size: 50px;
    margin-left: 40px;
}

section.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

div.contact-method {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.contact-logo {
    width: 60px;
}

img.linkedin-logo {
    width: 50px;
    transition: 0.2s;
}

img.linkedin-logo:hover {
    transform: scale(1.2);
}

img.github-logo {
    width: 60px;
    transition: 0.2s;
}

img.github-logo:hover {
    transform: scale(1.2);
}

section.experience-section{
    margin-bottom: 80px;
}

div.internship-container > h2 {
    font-size: 2.5rem;
    margin-bottom: 25px;
    margin-left: 200px;
}

div.position-container > h3 {
    margin-left: 200px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px rgb(234, 227, 227);
    text-shadow: 1px 1px 20px rgb(159, 153, 153);  
}

div.experience-summary {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    font-size: 1.2rem;
    margin-left: 200px;
}

section > p.footer-text {
    margin-left: 650px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px rgb(234, 227, 227);
    text-shadow: 1px 1px 20px rgb(159, 153, 153);  
}