* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Bitcount", Arial, sans-serif;
    color: white;
    height: 100vh;
}

.animated-bg {
  height: 100vh;
  margin: 0;
  background: linear-gradient(-45deg, black, #1a1a1a, #333333, #444444);
  background-size: 700% 700%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

::selection {
    background-color: aliceblue;
    color: rgb(35, 34, 34);
}